<ion-tabs>
  <ion-tab-bar color="tertiary" slot="bottom">
    <ion-tab-button tab="discover">
      <!-- <ion-label>Home</ion-label> -->
      <ion-icon name="home"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="favourites">
      <!-- <ion-label>Favourites</ion-label> -->
      <ion-icon name="checkmark-circle-outline"></ion-icon>
    </ion-tab-button>
    <ion-tab-button tab="account">
      <!-- <ion-label>Account</ion-label> -->
      <ion-icon name="person"></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
