<ion-header>
  <ion-toolbar>
    <ion-title>{{ selectedPlace.title }}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onCancel()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-img [src]="selectedPlace.imageUrl"></ion-img> 
    <ion-label>
      <p>{{ selectedPlace.description }}</p>
      <p>{{ selectedPlace.price | currency }}</p>
    </ion-label>
  <ion-button color="primary" (click)="bookThisPlace()">Book!</ion-button>
  <ion-button color="danger" (click)="onCancel()">Cancel</ion-button>
</ion-content>