<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" black>
      <ion-back-button defaultHref="/gebet"></ion-back-button>
    </ion-buttons>
    <ion-title>Profil</ion-title>
    <ion-buttons slot="primary">
      <ion-button routerLink="/profil">
        <ion-icon slot="icon-only" name="contact" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid text-center>
    <ion-icon name="image" slot="icon-only" size="large"></ion-icon>
    <h2>Herry Sukma</h2>
    <p>00000013846</p>
  </ion-grid>

</ion-content>
