<ion-header>
  <ion-toolbar color="tertiary">
    <ion-title>RanDome</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-segment [(ngModel)]="category" color="tertiary" (ionChange)="onFilterUpdate($event)">
    <ion-segment-button checked value="discover">Discover</ion-segment-button>
    <ion-segment-button value="review">Review</ion-segment-button>
  </ion-segment>
  <ion-grid [ngSwitch]="category">
    <ion-grid *ngSwitchCase="'discover'">
      <ion-row>
        <ion-col size="12" size-sm="8" offset-sm="2">
          <div>
            <h1>Trending</h1>
          </div>
          <ion-card>
            <ion-img [src]="article[0].imageUrl"></ion-img>
            <ion-card-header>
              <ion-card-title>{{ article[0].title }}</ion-card-title>
            </ion-card-header>
            <ion-card-content text-right padding>
              <ion-button style="color: black;" fill="clear" [routerLink]="['/','home','tabs','discover',article[0].id]">More</ion-button>
          </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="12" size-sm="8" offset-sm="2" text-center>
            <div text-center>
                <h1>More Articles</h1>
              </div>
          <ion-virtual-scroll [items]="listArticle" approxItemHeight="72px">
            <ion-item *virtualItem="let ListedArticle" [routerLink]="['/','home','tabs','discover',ListedArticle.id]">
              <ion-thumbnail slot="start">
                <ion-img [src]="ListedArticle.imageUrl"></ion-img>
              </ion-thumbnail>
              <ion-label>
                <h2>{{ ListedArticle.title }}</h2>
                <p>{{ ListedArticle.description }}</p>
              </ion-label>
            </ion-item>
          </ion-virtual-scroll>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid *ngSwitchCase="'review'">
      <ion-row>
        <ion-col size="12" size-sm="8" offset-sm="2" text-center>
          <ion-searchbar type="text" debounce="500" (ionInput)="getItems($event)" animated></ion-searchbar>
          <ion-virtual-scroll [items]="review" approxItemHeight="72px">
            <ion-item  *virtualItem="let listReview" [routerLink]="['/','home','tabs','discover','review',listReview.id]">
              <ion-thumbnail slot="start">
                <ion-img [src]="listReview.imageUrl"></ion-img>
              </ion-thumbnail>
              <ion-label>
                <h2>{{ listReview.brand }}</h2>
                <p>{{ listReview.subBrand }}</p>
              </ion-label>
            </ion-item>
          </ion-virtual-scroll>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-grid>
</ion-content>
